<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      const roomId = "<%= roomId %>";
    </script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="left">
        <div class="main-videos">
          <div id="video-grid"></div>
          <div id="video-focus"></div>
        </div>
        <div class="controls">
          <div class="main-control">
            <div onclick="muteUnmute()" class="control-button mute-button">
              <i class="fas fa-microphone"></i>
              <span>Mute</span>
            </div>
            <div onclick="playStop()" class="control-button video-button">
              <i class="fas fa-video"></i>
              <span>Video</span>
            </div>
            <div
              onclick="startShareScreen()"
              class="control-button share-button"
            >
              <i class="fas fa-clone"></i>
              <span>Screen Sharing</span>
            </div>
          </div>
          <div class="main-control">
            <div class="control-button leave-button">
              <i class="fas fa-sign-out-alt"></i>
              <span>Leave</span>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="header">
          <h6 id="tab1" class="tab-item active">
            <i class="fas fa-comments"></i>
          </h6>
          <h6 id="tab2" class="tab-item"><i class="fas fa-user"></i></h6>
          <h6 id="tab3" class="tab-item">
            <i class="fas fa-user-friends"></i>
          </h6>
        </div>
        <div id="tab1c" class="tab-pane chat active">
          <div class="main-window">
            <ul class="messages"></ul>
          </div>
          <div class="message-container">
            <input
              id="chat_message"
              type="text"
              placeholder="Type message here..."
            />
          </div>
        </div>
        <div id="tab2c" class="tab-pane user">
          <div class="main-window">
            <ul class="users"></ul>
          </div>
        </div>
        <div id="tab3c" class="tab-pane participant">
          <div class="main-window">
            <ul class="participants"></ul>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
