.main {
  height: 100vh;
  display: flex;
}

.main .left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.main .left .main-videos {
  display: flex;
  height: 90%;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.main .left .main-videos #video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main .left .main-videos #video-grid .normal {
  height: 300px;
  width: 400px;
  object-fit: cover;
  padding: 8px;
}

.main .left .main-videos #video-focus {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
}

.main .left .main-videos #video-focus .fullscreen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 8px;
}

.main .left .controls {
  height: 10%;
  background-color: #1c1e20;
  color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.main .left .controls .main-control {
  display: flex;
}

.main .left .controls .main-control .control-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.main .left .controls .main-control .control-button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.main .left .main-control .control-button i {
  font-size: 24px;
}

.main .right {
  flex: 0.2;
  background-color: #242324;
  border-left: 1px solid #3d3d42;
  display: flex;
  flex-direction: column;
}

.main .right .header {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f1f1f1;
}

.main .right .header h6 {
  display: block;
  width: 33.33%;
  cursor: pointer;
  padding: 10px 11px;
  margin: 0px;
}

.main .right .header h6:hover {
  color: red;
}

.main .right .header .tab-item.active {
  background-color: #ddd;
}

.main .right .tab-pane {
  flex-direction: column;
  flex-grow: 1;
  display: none;
  max-height: 95%;
}

.main .right .tab-pane.active {
  display: flex;
}

.main .right .tab-pane .main-window {
  flex-grow: 1;
  overflow-y: scroll;
}

/* Chat */

.main .right .chat .main-window .messages {
  margin-top: 10px;
  color: white;
  list-style: none;
  padding-left: 10px;
}

.main .right .chat .message-container {
  padding: 22px 12px;
  display: flex;
}

.main .right .chat .message-container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}

/* User */

.main .right .user ul {
  margin-top: 10px;
  color: white;
  list-style: none;
  padding: 0px;
}

.main .right .user ul li {
  margin-top: 10px;
  color: white;
  list-style: none;
  margin-left: 20px;
  font-size: 20px;
}

/* Participant */
.main .right .participant ul {
  margin-top: 10px;
  padding: 0px 10px;
}

.main .right .participant ul li {
  color: white;
  list-style: none;
  display: flex;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 10px;
}

.main .right .participant ul li:hover {
  border: 1px solid red;
}

.main .right .participant ul li video {
  margin-left: 10px;
  width: 20%;
}

.main .right .participant ul li p {
  margin-left: 10px;
  line-height: 50px;
  margin-bottom: 0px;
}

.main .right .participant ul li img {
  color: black;
}

.un {
  color: #cc3b33;
}
